<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="ConexionBD"
			connectionString="Host=localhost;Port=5432;Database=NoSql;Username=postgres;Password=postgres;Include Error Detail=true;"
			providerName="Npgsql" />
	</connectionStrings>

	<appSettings>
		<add key="SueldoMinimo" value="8364" />
		<add key="ApiBaseUrl" value="https://recursoshumanos3-0tcq.onrender.com/api/" />
	</appSettings>
</configuration>